---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteConfig } from "../config/main_siteConfig";

const page = siteConfig.pages.contact;
---

<BaseLayout title={page.title} keywords={page.keywords} description={page.description} canonical={page.canonical} extra={page.extra} pageKey="contact">
  <article class="prose prose-invert max-w-4xl mx-auto">
    <h1 class={`text-4xl font-extrabold mb-6 ${siteConfig.theme.text.highlight} pb-2`}>{page.heading}</h1>

    <p class={`${siteConfig.theme.text.p}`}>KumarYeri ekibi olarak her zaman kullanıcılarımızın görüşlerine ve sorularına açığız. İşbirliği teklifleri, teknik destek veya önerileriniz için aşağıdaki kanallardan bize ulaşabilirsiniz.</p>

    <h2 class={`text-xl font-bold ${siteConfig.theme.text.primary} border-b ${siteConfig.theme.text.borderColor} pb-2`}>E-posta</h2>
    <p class={`${siteConfig.theme.text.p}`}>Daha fazla bilgi için bize ulaşabilirsiniz: <a href=`mailto:${siteConfig.siteMeta.email}` class={`${siteConfig.theme.text.highlight} underline`}>{siteConfig.siteMeta.email}</a></p>
  </article>
</BaseLayout>
