---
interface FAQItem {
  question: string;
  answer: string;
}

export interface Props {
  items: FAQItem[];
}

const { items } = Astro.props;
import { siteConfig } from "../config/main_siteConfig";
---

<section id="faq" class="mt-24 max-w-3xl mx-auto">
  <h2 class={`${siteConfig.theme.faq.heading}`}>
    Sıkça Sorulan Sorular
  </h2>

  <div class="space-y-4">
    {items.map((faq, index) => (
      <details class={`${siteConfig.theme.faq.box}`}>
        <summary class={`flex justify-between items-center cursor-pointer ${siteConfig.theme.faq.question}`}>
          {faq.question}
          <span class="transform group-open:rotate-180 transition-transform duration-200">▼</span>
        </summary>
        <p class={`${siteConfig.theme.faq.answer}`}>
          {faq.answer}
        </p>
      </details>
    ))}
  </div>
</section>
