---
// components/Footer.astro
import {siteConfig} from "../config/siteConfig";
---

<footer class={siteConfig.footer.classes.wrapper}>
  <div class={siteConfig.footer.classes.container}>
    {siteConfig.footer.text}
    <div>
      <a href="/">Ana Sayfa</a> • 
      <a href="/hakkimizda">Hakkımızda</a> • 
      <a href="/iletisim">İletişim</a> • 
      <a href="/gizlilik-politikasi">Gizlilik Politikası</a> • 
      <a href="/sorumluluk-reddi">Sorumluluk Reddi</a>
    </div>
    <p class="mt-4 text-xs text-gray-500">&copy; {new Date().getFullYear()} {siteConfig.siteMeta.name} — Tüm hakları saklıdır.</p>
  </div>
  
</footer>
