---
// components/Footer.astro
import {siteConfig} from "../config/siteConfig";
---

<footer class={siteConfig.footer.classes.wrapper}>
  <div class={siteConfig.footer.classes.container}>
    {siteConfig.footer.text}
    <div>
      <a href="/" title="Anasayfa">Ana Sayfa</a> • 
      <a href="/hakkimizda/" title="Hakkımızda">Hakkımızda</a> • 
      <a href="/iletisim/" title="İletişim">İletişim</a> • 
      <a href="/gizlilik-politikasi/" title="Gizlilik Politikası">Gizlilik Politikası</a> • 
      <a href="/sorumluluk-reddi/" title="Sorumluluk Reddi">Sorumluluk Reddi</a> • 
      <a href="/en-cok-freespin-veren-siteler-2025/" title="En Çok Freespin Veren Siteler 2025">En Çok Freespin Veren Siteler 2025</a> • 
      <a href="/freespin-veren-casino-siteleri/" title="Freespin Veren Casino Siteleri">En Çok Freespin Veren Siteler 2025</a> • 
      <a href="/guvenilir-casino-siteleri-2025/" title="Güvenilir Casino Siteleri 2025">Güvenilir Casino Siteleri 2025</a>
    </div>
    <p class="mt-4 text-xs text-gray-500">&copy; {new Date().getFullYear()} {siteConfig.siteMeta.name} — Tüm hakları saklıdır.</p>
  </div>
  
</footer>
