---
import { siteConfig } from "../config/kumaryeri_siteConfig";
---

<section class={siteConfig.theme.hero.sectionClass}>
  <h1 class={siteConfig.theme.hero.titleClass}>{siteConfig.hero.title}</h1>
  <p class={siteConfig.theme.hero.descClass}>{siteConfig.hero.description}</p>
  <a
    href={siteConfig.hero.ctaLink}
    class={siteConfig.theme.hero.ctaClass}
    title={siteConfig.hero.title}
  >
    {siteConfig.hero.ctaText}
  </a>
</section>
