---
import { siteConfig } from "../config/siteConfig";
import "../styles/global.css";
const { siteMeta } = siteConfig;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Sayfa bazlı meta değerleri
const { title, description, canonical, schemaType, extra, keywords } = Astro.props;

const isFAQ = schemaType === "FAQPage";
const schemaJSON = {
  "@context": "https://schema.org",
  "@type": schemaType || "Article",
  ...(isFAQ
    ? {
        "mainEntity": extra?.faq?.map((f: { question: any; answer: any; }) => ({
          "@type": "Question",
          "name": f.question,
          "acceptedAnswer": {
            "@type": "Answer",
            "text": f.answer
          }
        }))
      }
    : {
        "headline": title,
        "description": description
      }
  )
};
---

<!DOCTYPE html>
<html lang="tr" class="scroll-smooth">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GRBDQQGDWY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GRBDQQGDWY');
    </script>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Dynamic Meta -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonical} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content={siteMeta.author} />
    <meta name="publisher" content={siteMeta.publisher} />

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={siteMeta.og.image} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={siteMeta.twitter.image} />

    <!-- Structured Data -->
    <script type="application/ld+json" set:html={JSON.stringify(schemaJSON)}></script>
  </head>
  <body class={siteConfig.layout.bodyClass}>
    <Header />
    <main class="max-w-3xl mx-auto px-6 py-10 flex-grow">
      <slot />
    </main>
    <Footer />
    <script src="/scroll-animate.js" defer></script>
  </body>
</html>
