---
import { siteConfig } from "../config/siteConfig";
import "../styles/global.css";
const { siteMeta } = siteConfig;
import schemaData from '../../public/rich-snippet-kumaryeri.json';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Sayfa bazlı meta değerleri
const {
  title = siteMeta.title,
  description = siteMeta.description,
  keywords = siteMeta.keywords,
  canonical = siteMeta.canonical,
  og = siteMeta.og,
  twitter = siteMeta.twitter,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="tr" class="scroll-smooth">
  <head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYHJLRCXDP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FYHJLRCXDP');
    </script>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Dynamic Meta -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonical} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content={siteMeta.author} />
    <meta name="publisher" content={siteMeta.publisher} />

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={og.siteName} />
    <meta property="og:title" content={og.title} />
    <meta property="og:description" content={og.description} />
    <meta property="og:url" content={og.url} />
    <meta property="og:image" content={og.image} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={twitter.site} />
    <meta name="twitter:title" content={twitter.title} />
    <meta name="twitter:description" content={twitter.description} />
    <meta name="twitter:image" content={twitter.image} />

    <!-- Structured Data -->
    <script type="application/ld+json" set:html={JSON.stringify(schemaData)} />
    <script src="/scroll-animate.js" defer></script>
  </head>
  <body class={siteConfig.layout.bodyClass}>
    <Header />
    <main class="max-w-3xl mx-auto px-6 py-10 flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
